<div class = "my-4 flex justify-content-center align-items-center">
  <p-autoComplete
    (completeMethod) = "search($event)"
    (onSelect) = "onLocationChange($event)"
    [(ngModel)] = "currentLocation"
    [dropdown] = "true"
    [field] = "'name.common'"
    [panelStyleClass] = "'country-panel'"
    [placeholder] = "placeholder()"
    [styleClass] = "'autocomplete-airbnb'"
    [suggestions] = "filteredCountries">
    <ng-template
      let-country
      pTemplate = "item">
      <div class = "flex align-items-center gap-2">
        <span class = "fi fi-{{country.cca2.toLowerCase()}}"></span>
        <div>{{ country.name.common }}</div>
      </div>
    </ng-template>
  </p-autoComplete>
</div>
<div
  (leafletMapReady) = "onMapReady($event)"
  [leafletLayersControl] = "layersControl"
  [leafletOptions] = "options"
  class = "map-location z-0"
  leaflet></div>
