@if (isHome) {
  <div class="categories pt-3 mx-8">
    <p-carousel
      [value]="categories"
      [numVisible]="12"
      [numScroll]="5"
      [circular]="false"
      [showIndicators]="false"
      [responsiveOptions]="responsiveOptions"
      styleClass="custom-carousel">
      <ng-template let-category pTemplate="item">
        @if (category.technicalName !== 'ALL') {
          <div class="flex flex-column align-items-center pb-3 category"
               (click)="onChangeCategory(category)" [class.category-activated]="category.activated">
            <fa-icon class="mb-1" [icon]="category.icon"></fa-icon>
            <div title="{{category.displayName}}" class="name">{{ category.displayName }}</div>
          </div>
        }
      </ng-template>
    </p-carousel>
  </div>
}
